# Data Proprocessing

In [12]:
import pandas as pd
import cv2 as cv
from src.xml_parser import extract_image_filenames

In [4]:
df = pd.read_csv(r"..\output\labels.csv")
df.head()

                                         filepath  xmin  xmax  ymin  ymax
0    ..\input\number-plates\annotations\Cars0.xml   226   419   125   173
1    ..\input\number-plates\annotations\Cars1.xml   134   262   128   160
2   ..\input\number-plates\annotations\Cars10.xml   140   303     5   148
3  ..\input\number-plates\annotations\Cars100.xml   175   214   114   131
4  ..\input\number-plates\annotations\Cars101.xml   167   240   202   220

In [6]:
# getting all the co-ordinatess from all the xml files
df.iloc[:,1:5].values

array([[226, 419, 125, 173],
       [134, 262, 128, 160],
       [140, 303,   5, 148],
       ...,
       [ 98, 297, 102, 191],
       [ 85, 247, 196, 259],
       [ 70, 262, 198, 271]], dtype=int64)

In [9]:
# exteacted all the image paths from the dataframe
image_paths = extract_image_filenames(df)

In [15]:
image_paths[9]

'../input/number-plates/images\\Cars106.png'

In [16]:
# reading the image using OpenCV
cv.imread(image_paths[9])

array([[[131, 146, 154],
        [131, 146, 154],
        [134, 149, 157],
        ...,
        [220, 211, 203],
        [220, 211, 203],
        [220, 211, 203]],

       [[126, 143, 150],
        [125, 142, 150],
        [129, 146, 153],
        ...,
        [219, 211, 202],
        [219, 211, 202],
        [219, 210, 202]],

       [[127, 145, 152],
        [126, 144, 151],
        [129, 147, 154],
        ...,
        [217, 209, 201],
        [217, 209, 200],
        [217, 209, 200]],

       ...,

       [[122, 147, 162],
        [120, 145, 159],
        [121, 146, 160],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[125, 150, 164],
        [121, 146, 160],
        [118, 143, 158],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[132, 157, 171],
        [127, 152, 166],
        [125, 150, 164],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]]], dtype=uint8)